body {
	background: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	padding: 25px 50px 200px;
}

hr {
	border-top: 1px solid #ddd;
	border-bottom: 0;
	margin: 10px 0;
}

h1 {
	font-weight: 300;
	margin-bottom: 50px;
	text-align: center;
}

h2 {
	font-weight: 400;
	letter-spacing: -0.025em;
}

#wrapper {
	max-width: 800px;
	margin: 0 auto;
	width: 100%;
}

#wrapper pre.prettyprint {
	background-color: #222;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
}

.prettyprint ol.linenums > li {
	list-style-type: decimal;
}

.prettyprint ol.linenums > li:nth-child(2n) {
	background-color: #282828;
}

.tab-label {
	font-size: 1.2em;
}

.tab-label a {
	color: #555;
	text-decoration: none;
}

.tab-label a:hover {
	color: #222;
	text-decoration: none;
}